<div class="container" >
    
    <div class="panel">
        <div class="mapa"> 
            <h2> Detalles del trayecto</h2>
       </div>
       <div class="data">
           
   
           <!-- {{trayecto.nAcelerones}}
           {{trayecto.rpmMedias}}
           {{trayecto.nFrenazos}}
   
           <hr>
           {{trayecto.matricula}}
           {{trayecto.inicio | date: "dd/MM/yyyy hh:mm"}}
           {{trayecto.fin | date: "dd/MM/yyyy hh:mm"}}
           {{trayecto.kmRecorridos | number: "0.1-1"}}  -->
           <!-- {{trayecto.}}
           {{trayecto.}}
           {{trayecto.}}
           {{trayecto.}} -->
   
           <div>
              <p> 14 mar 2018 11:14</p>
              <p>  11m 26s 10.8km</p>
              
           </div>
           <p class="precio"> 8.24€</p>
   
       </div>
       <div class="datadetail">
        <div class="imagen">
            <img src="../../../assets/golfplus.jpg" alt="">
        </div>
        <!-- <div class="detail">
            {{trayecto.precio | number: "0.2-2"}} € 
            <div class="grafico">
                <div class="sombra"></div>
                <div id="porcion1" class="recorte"><div class="quesito" data-rel="F"></div></div>
                <div id="porcion2" class="recorte"><div class="quesito" data-rel="A"></div></div>
                <div id="porcion3" class="recorte"><div class="quesito" data-rel="R"></div></div>
                <div id="porcionFin" class="recorte"><div class="quesito" data-rel="V"></div></div>
           </div>
        </div> -->

        <div class="detailicons">
            <span> <i class="material-icons">  send  </i> FRENAZOS : 3 </span><br>
           <span>
            <i class="material-icons">  send  </i> ACELERONES : 4
           </span> <br>
           <span>  <i class="material-icons">  send  </i> RPM : 1500 </span> <br>
           <span>  <i class="material-icons">  send  </i> VELOCIDAD MEDIA: 100KM / H </span> <br>
           <!-- <p> Calidad conducción </p> <button class="calidad" mat-fab > 5 </button> -->
        </div>
        
       </div>
     
    </div>


</div>