.panel{
    display: flex;
    margin-top: 50px;
}

.content{
    width: 40%;
   
}

.calendario{
    margin-top: 20px;
}

.input{
    margin: 10px;
    padding: 16px;
}

.btn{
    background-color: #C5281C;
    border-radius: 10px;
    padding: 5px;
}

.data{
    padding: 20px;
    display: flex;
}

.tab{
    margin-top: 80px;
}

@media (min-width: 320px) and (max-width: 660px) {

    .container{
        margin: 0;
        width: 100%;
    }
    

    .panel{
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    
    .content{
        width: 100%;
       
    }
    
    .calendario{
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .input{
        margin: 10px;
        margin-top: 10px !important;
        padding: 16px;
        margin-bottom: 10px !important;
    }
    
    .btn{
        background-color: #C5281C;
        border-radius: 10px;
        padding: 5px;
    }
    
    .data{
        padding: 20px;
        display: flex;
        width: 100%;
    }
    
    .tab{
        margin-top: 80px;
        
    }
    

    .titulos{
        display: flex;
        flex-direction: column;
    }
}