<div class="container">
  <div class="menu">
  
    <button mat-button [matMenuTriggerFor]="aboveMenu">
      <div class="logo">
        <img src="../../../assets/Generali_logo_Horizontal_white.svg" alt="">
      </div>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="aboveMenu">HOME</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="belowMenu">PERFIL</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="beforeMenu">TRAYECTOS</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    
    <button mat-button [matMenuTriggerFor]="afterMenu">VEHICULOS</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

  </div>


<nav class="menuMovil">

   <mat-menu #appMenu2="matMenu" >
    <button   mat-menu-item   routerLink="home">Home </button>
    
    <button   mat-menu-item   routerLink="perfil" *ngIf="usserLogged">Perfil</button>
    <button   mat-menu-item   routerLink="trayectos" *ngIf="usserLogged" >Trayectos</button>
    <button  mat-menu-item   routerLink="vehiculos"> Vehículos </button>

    <button  mat-menu-item   routerLink="registre"> Registrate </button>
    <button  mat-menu-item   routerLink="login">Login</button>
  </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu2"> MENU </button>

 
</nav>



<router-outlet></router-outlet> 
</div>