<div class="container">
  <div class="menu">
  
    <button mat-button class="buttnlogo">
      <div class="logo">
        <img src="../../../assets/Generali_logo_Horizontal_white.svg" alt="" routerLink="home">
      </div>
    </button>

      <button mat-button routerLink="home" class="buttonsin" *ngIf=loginService.userDni>HOME</button>
      
      <button mat-button routerLink="perfil" class="buttonsin" *ngIf=loginService.userDni >PERFIL</button>
      
      <button mat-button routerLink="trayectos" class="buttonsin" *ngIf=loginService.userDni >TRAYECTOS</button>

      <button mat-button routerLink="vehiculos" class="buttonsin" *ngIf=loginService.userDni >VEHICULOS</button>

      <button mat-button routerLink="login" class="buttonsin" *ngIf=!loginService.userDni>
        <i class="material-icons"> perm_identity </i>
      </button>
    

  </div>


<nav class="menuMovil">
  <div class="logo"><img src="../../../assets/Generali_logo_Horizontal_white.svg" alt="" routerLink="login"></div>
  
  <div class="menum">
    <mat-menu #appMenu2="matMenu" >
    
      <button   mat-menu-item   routerLink="home">Home </button>
      <button   mat-menu-item   routerLink="perfil">Perfil</button>
      <button   mat-menu-item   routerLink="trayectos" >Trayectos</button>
      <button  mat-menu-item   routerLink="vehiculos"> Vehículos </button>
      <button  mat-menu-item   routerLink="login" >Login</button>
    </mat-menu>
  
      <button class="btn-icono" mat-icon-button [matMenuTriggerFor]="appMenu2"><i class="material-icons">more_vert</i></button>
  
  </div>
</nav>

<router-outlet></router-outlet> 

</div>