.menuMovil{
    display: none;
}

.container{
    width: 100%;
}

.menu{
    width: 100%;
    background-color: #C5281C;
    color: white;
    
}

.buttnlogo{
    width: 15%;
    padding: 10px;
}

.buttonsin{
    width: 10%;
    padding: 10px;
}

.logo{
    width: 100%;
}

.logo img{
    width:100%;
    vertical-align: top;
}


/* 
.menu{
    background-color: #D2E6D6;
    color: black;
    width: 100%;
    border: 1px solid black;
    height: 100px;
}

.menu button{
    padding: 15px;
    width: 12%;
    font-size: 0.9rem;
}

.menu:last-child{
    color: black;
} */
