.menuMovil{
    display: none;
}

.container{
    width: 100%;
}

.menu{
    width: 100%;
    background-color: #C5281C;
    color: white;
    display: flex;
    
}

.buttnlogo{
    width: 15%;
    padding: 10px;
}

.buttonsin{
    width: 10%;
    padding: 10px;
    font-size: 1.3em;
}

.logo{
    width: 100%;
}

.logo img{
    width:100%;
    vertical-align: top;
}

.access{
    margin: auto;
}

@media (min-width: 320px) and (max-width: 660px) {

    .menu{
        display: none;
    }

    .menuMovil{
        display: flex;
        background-color: #C5281C;
        color: white;
        padding: 5px;
    }

    .menum{  
        margin-left: auto !important;
    }
    
    .logo{
        width: 60%;
    }

    .logo img{
        width:100%;
        vertical-align: top;
        padding: 6px;
    }

}

