.container{
    margin: 0;
    padding: 20px;
    width: 100%;
    background-image: url("../../../assets/viaje.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    display: flex;
  
}

.ventajas{
    display: flex;
    flex-direction: column;
    width: 800px;
    left: 20px;
    margin-left: 150px;
    margin-top: 60px;
    font-size: 1.5em;
    color: white;
    padding: 10px;
    
}

.ventajas div{
  margin: 10px;
}

.welcome h3{
  font-size: 4em;
  color: white;
  margin: 0;
  margin-top: 50px;
}

.login{
  width: 200px;
  margin-top: 100px;
  margin-left: 250px;
}

.login h4{
  color: rgb(146, 79, 79);
  font-size: 2em;
  margin: 0px;
  font-weight: normal;
  
}

.input{
  width: 100%;
  padding: 12px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login button{

  margin-top: 10px;
}