<div class="container">
    <div class="welcome">
        <h3> SEGUROS POR TRAYECTOS </h3>
        <div class="ventajas">
            <div>  <i class="material-icons"> done </i> Paga sólo por lo que conduces </div>
            <div> <i class="material-icons"> done </i> Obten métricas de tus trayectos </div>
            <div> <i class="material-icons"> done </i> Compara tus resultados con otros conductores cerca de ti
             </div>
            </div>
</div>
<div class="login">
  <h4>Iniciar sesión</h4>
    <input class="input" type="text" #username name="username" placeholder="Username" [(ngModel)]=inputDni>
    <input class="input" type="password" #password name="password" placeholder="Password">
    <button mat-raised-button	 type="submit" (click)="logIn(inputDni)" id="login-button">Login</button>
  </div>
</div>


  

