<h1> Perfil </h1>
<div class="imagen">
     <img src="../../../assets/usuario.png" alt="">
</div>

<p> <b> Nombre  </b> {{cliente.nombre}} </p>
<p> <b> DNI  </b> {{cliente.dni}} </p>
<p> <b> Primer apellido  </b> {{cliente.apellido1}} </p>
<p> <b> Segundo apellido  </b> {{cliente.apellido2}} </p>
<p> <b> Código Postal  </b> {{cliente.zipCode}} </p>
<p> <b> Fecha de nacimiento  </b> {{cliente.fechaNacimiento}} </p>
<p> <b> Fecha de carnet  </b> {{cliente.fechaCarnet}} </p>
<p> <b> Calidad de conducción  </b> {{cliente.calidadConduccion}} </p> <!-- Aquí podriamos añadir un range de prime-->
