.container{
    margin: 0;
    width: 100%;
}

header{
    height: 10%;
    width: 100%;
    background-color: #C5281C;
    color: white;
    padding: 10px;
   
}

.bienvenida{
    display: flex;
}

.bienvenida p{
    text-align: center;
}

.welcome{
    left: 0;
}

.imagen{
    width: 20%;
}

.imagen img{
  
    width: 100%;
}

.panel{
    display: flex;
}

.expansion{
    width: 20%;
}

.datosPersonales{
    border: 1px solid grey;
    padding: 2px;
    
}