.container{
    margin: 0;
    width: 100%;
}

header{
    width: 100%;
    color: white;
    background-color: #C5281C;
    padding: 10px;
   
}

.imagen{
    width: 20%;
}

.imagen img{
   width: 100%;
}

.panel{
    display: flex;
    margin-top: 10px;
}

.expansion{
    width: 20%;
    margin-left:60px;
}

.expansion button {
    width: 60%;
    background-color: #C5281C;
    color: white;
    margin: 10px;
}



/*Responsive*/