<div class="container">
     <header>
          <p> Estás consultando tu seguro de coche por trayecto </p>
     </header>
     <app-breadcrumb> </app-breadcrumb>
     <div class="panel">
          <div class="expansion">
           
           <button class="expansionButton" mat-button  routerLink="/datospersonales">Mis datos personales </button> <br>
           <button class="expansionButton" mat-button  routerLink="/facturas">Mis facturas</button> <br>
           <button class="expansionButton" mat-button  routerLink="/datosbanco">Mis Datos Bancarios</button> <br>
           
          </div>
          <div class="bienvenida">
               <h2> HOLA, {{cliente.nombre}}</h2>
               <h3> Bienvenid@ a tu seguro por trayecto </h3>
               <button class="newinsurance" mat-stroked-button> NUEVO SEGURO </button>
          </div>

     </div>
    
</div>